.env
data/raw/
data/processed/
data/cache/
mlflow/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git
.mypy_cache
.pytest_cache
.hypothesis
.ruff_cache
.ipynb_checkpoints/# Python
__pycache__/
*.pyc
venv/
.venv/
.env

# Database
chroma_db/

# Node/React
frontend/node_modules/
frontend/dist/
